.main-header {
  width: 100%;
  background-color: $color-primary;

  .main-header-navigation {
    width: $width-content;
    margin: 0 auto;
    padding: 20px;

    a {
      color: #FFF;
      padding: 12px;

      &:hover {
        color: #F90;
      }
    }
  }
}
