.main-site {
  width: 100%;
  background-color: #FFF;

  .main-site-content {
    width: $width-content;
    margin: 0 auto;
    padding: 20px 0;

    h1 {
      text-align: center;
      font-size: 1.2em;
      color: #666;
    }
  }
}